<div ng-controller="GameController">
    <h2>Tic-Tac-Toe Game</h2>
    <table >
        <tr ng-repeat="row in board.grid">
            <td ng-repeat="cell in row">
                <button class="tic-tac-toe-cell" ng-click="board.move(cell)" ng-disabled="cell.disabled">
                    {{cell.marker}}
                </button>
            </td>
        </tr>
    </table>
    <p>
    <div ng-if="board.message">{{board.message}}</div>
    <div>Current player is: <b>{{board.currentPlayer.name}} ({{board.currentPlayer.marker}})</b></div>
    </p>
    <button ng-click="board.reset()" class="reset">
        Reset Game
    </button>
</div>